.green-transparent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    padding: 14px 41px;
    border: 2px solid #53F07F;
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    background-color: transparent;

    @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 12px 20px;
    }

    &:hover {
        background-color: #53F07F;
        color: #151A1D;

        svg path {
            fill: #151A1D;
        }
    }

    svg path {
        transition: fill 0.3s;
    }

}
