.green-transparent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    padding: 14px 41px;
    border: 2px solid var(--color-type-primary-1);
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    background-color: transparent;

    @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 12px 20px;
    }

    &:hover {
        background-color: var(--color-type-primary-1);
        color: var(--color-type-dark-1);

        svg path {
            fill: var(--color-type-dark-1);
        }
    }

    svg path {
        transition: fill 0.3s;
    }

}

.white-transparent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    padding: 12px 20px;
    border: 2px solid var(--color-type-primary-white);
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    background-color: transparent;
    font-weight: 400;

    @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 12px 20px;
    }

    &:hover {
        background-color: var(--color-type-primary-1);
        color: var(--color-type-dark-1);
    }
}

.btn-with-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding: 15px 70px 15px 3px;

    @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 12px 60px 12px 3px;
    }

    &.dark {
        color: var(--color-type-dark-1);

        &::after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDI0IDEzIiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMTcuMSAwTDE1Ljk4IDEuMTJMMjAuNDYgNS42SDBWNy4ySDIwLjQ2TDE1Ljk4IDExLjY4TDE3LjEgMTIuOEwyMy41IDYuNEwxNy4xIDBaIiBmaWxsPSIjMTUxQTFEIi8+Cjwvc3ZnPg==);
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        transition: background-color 0.3s;
        border-radius: 50%;
        border: 2px solid var(--color-type-primary-1);
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDI0IDEzIiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMTcuMSAwTDE1Ljk4IDEuMTJMMjAuNDYgNS42SDBWNy4ySDIwLjQ2TDE1Ljk4IDExLjY4TDE3LjEgMTIuOEwyMy41IDYuNEwxNy4xIDBaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4=);

        @media screen and (max-width: 768px) {
            width: 40px;
            height: 40px;
        }
    }

    &:hover {
        color: var(--color-type-primary-1);

        &::after {
            background-color: var(--color-type-primary-1);
        }
    }
}
