/* stylelint-disable */



@font-face {
    font-family: 'Intro Regular Alt';
    src: url('../fonts/Intro-Regular-Alt.eot');
    src: url('../fonts/Intro-Regular-Alt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Intro-Regular-Alt.woff2') format('woff2'),
        url('../fonts/Intro-Regular-Alt.woff') format('woff'),
        url('../fonts/Intro-Regular-Alt.ttf') format('truetype'),
        url('../fonts/Intro-Regular-Alt.svg#Intro-Regular-Alt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

