.site-footer {
    background-color: #242A2E;
    padding: 61px 0;

    @media screen and (max-width: 991px) {
        padding: 54px 0 67px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1370px) {
            flex-direction: column;
        }
    }

    &__logo {
        max-width: 160px;
        opacity: 0.8;

        @media screen and (max-width: 1370px) {
            margin-bottom: 40px;
        }
    }

    &__menu-wrapper {
        opacity: 0.7;
    }

    &__menu {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 50px;
        margin-bottom: 64px;

        @media screen and (max-width: 991px) {
            display: none;
        }

        .menu-item {
            color: #FFF;
            font-size: 16px;
            font-weight: 300;

            .sub-menu {
                display: none;
            }

            &.hovered,
            &.current-menu-item {
                color: #53F07F;
            }
        }
    }

    &__ps {
        color: #FFF;
        font-size: 14px;
        font-weight: 300;

        @media screen and (max-width: 1370px) {
            display: none;
        }

        &.mob {
            @media screen and (max-width: 1370px) {
                display: block;
                text-align: center;
                order: 3;
            }

            @media screen and (max-width: 670px) {
                font-size: 12px;
            }
        }
    }

    &__social-wrapper {
        opacity: 0.7;

        @media screen and (max-width: 1370px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        margin-bottom: 50px;

        @media screen and (max-width: 1370px) {
            justify-content: center;
            order: 2;
        }

        @media screen and (max-width: 1370px) {
            margin-bottom: 34px;
        }
    }

    &__policy-menu {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 80px;
        list-style-type: none;
        color: #FFF;
        font-family: 'Mulish', sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;

        @media screen and (max-width: 1370px) {
            align-items: center;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 35px;
            order: 1;
        }

        @media screen and (max-width: 670px) {
            font-size: 13px;
        }
    }
}
