body {
    padding: 0;
    margin: 0;
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;

    &.popup-opened {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

svg {
    pointer-events: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#main-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.cover-bg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.responsive-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    transition: color 0.3s, backgroun-color 0.3s, border-color 0.3s;
}

img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

iframe {
    max-width: 100%;
}


textarea,
.wpcf7-select,
input[type="text"],
input[type="tel"],
input[type="email"] {

    &:focus {
        outline-color: var(--color-type-dark-1);
    }
}




/*Base flex*/
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.flex-fill {
    flex: 1 1 auto;
}

/*Flex direction*/
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: column-reverse;
}


/*Flex justify content*/
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}


/*Flex align items*/
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}


/*Flex align self*/
.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}


/*Flex wrap*/
.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}


/*Flex orders*/
.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}


/*Flex vertical aligns*/
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-around {
    align-content: space-around;
}

.align-content-between {
    align-content: space-between;
}

.align-content-stretch {
    align-content: stretch;
}

.container-big-title {
    padding-right: 120px;
    position: relative;

    @media screen and (max-width: 1200px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    .big-title {
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 120px;
        height: 120px;
        right: 0;
        transform: rotate(90deg);
        color: var(--color-type-primary-white);
        opacity: 0.05;
        font-family: "Intro Regular Alt";
        font-size: 120px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            display: none;
        }

    }

    &.reverse {
        padding-left: 120px;

        @media screen and (max-width: 1200px) {
            padding-left: 16px;
            padding-right: 16px;
        }
        .big-title {
            top: 0;
            left: 0;
        }
    }
}
