body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Mulish', sans-serif;

    &.popup-opened {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

svg {
    pointer-events: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#main-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.cover-bg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.responsive-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    transition: color 0.3s, backgroun-color 0.3s, border-color 0.3s;
}

img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

iframe {
    max-width: 100%;
}


textarea,
.wpcf7-select,
input[type="text"],
input[type="tel"],
input[type="email"] {

    &:focus {
        outline-color: #151836
    }
}
