h1,
h2 {
    position: relative;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
        font-size: 54px;
    }

    @media screen and (max-width: 768px) {
        font-size: 46px;
    }

    @media screen and (max-width: 670px) {
        font-size: 25px;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 21px;
        left: -80px;
        width: 60px;
        height: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgNjAgNiIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTAuMzMzMzMzIDNDMC4zMzMzMzMgNC40NzI3NiAxLjUyNzI0IDUuNjY2NjcgMyA1LjY2NjY3QzQuNDcyNzYgNS42NjY2NyA1LjY2NjY3IDQuNDcyNzYgNS42NjY2NyAzQzUuNjY2NjcgMS41MjcyNCA0LjQ3Mjc2IDAuMzMzMzMzIDMgMC4zMzMzMzNDMS41MjcyNCAwLjMzMzMzMyAwLjMzMzMzMyAxLjUyNzI0IDAuMzMzMzMzIDNaTTMgMy41TDYwIDMuNUw2MCAyLjVMMyAyLjVMMyAzLjVaIiBmaWxsPSIjNTNGMDdGIi8+Cjwvc3ZnPg==);


        @media screen and (max-width: 768px) {
            width: 44px;
            top: -16px;
            left: 0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Intro Regular Alt', sans-serif;
    color: var(--color-type-primary-white);
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    margin: 0;
}

.font-weight-bold,
strong,
b {
    font-weight: bold;
}

.font-weight-semi-bold {
    font-weight: 600;
}


.font-weight-medium {
    font-weight: 500;
}


a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    transition: color 0.3s, backgroun-color 0.3s, border-color 0.3s;
}




.body-type-0 {
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.body-type-1 {
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }

    @media screen and (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 47px;
    }

    @media screen and (max-width: 670px) {
        font-size: 16px;
    }
}
.body-type-2 {
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.body-type-3 {
    color: var(--color-type-primary-white);
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }

    @media screen and (max-width: 670px) {
        font-size: 12px;
    }
}
.body-type-4 {
    color: var(--color-type-primary-white);
    font-family: Mulish, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


p {
    @extend .body-type-3;
    color: var(--color-type-dark-1);
    margin-top: 0;
    line-height: 1.4;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }

    @media screen and (max-width: 670px) {
        font-size: 12px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
