// Font-family
$font-primary: sans-serif;
$font-secondary: serif;

// Colors
$text_color : #151A1D;
$light_color : #F2F3EB;
$green : #53F07F;
// Width sizes
$fluid_max_width: 1440px;

$--greys-white: #FFFFFF;
$--greys-light: #F2F0F4;
$--greys-dark: #575264;
$--greys-black: #000000;
