.forgot-password {
    padding: 244px 0 292px;

    @media screen and (max-width: 670px) {
        padding: 214px 0 180px;
    }

    &__title {
        margin-bottom: 35px;

        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    &__subtitle {
        @media screen and (max-width: 991px) {
            margin-bottom: 16px;
        }
    }

    &__form {
        max-width: 335px;
        width: 100%;

        .form-input {
            border: 1px solid rgba(255, 255, 255, 0.50);
            margin-bottom: 40px;
            color: var(--color-type-primary-white);
            padding: 10px;

            @media screen and (max-width: 991px) {
                margin-bottom: 35px;
            }
        }
    }

    &__form-response {
        margin: 10px 0;


        p {
            &.error {
                color: var(--color-type-primary-3);
            }

            &.success {
                color: var(--color-type-primary-1);
            }
        }
    }
}


body.page-template-template-forgot-password-page {
    background-color: var(--color-type-dark-2);
}
