.courses {
    background: var(--color-type-dark-2);
    padding: 96px 0 144px;

    @media screen and (max-width: 991px) {
        padding: 82px 0 55px;
    }

    &__title {
        margin-left: 130px;
        margin-bottom: 60px;

        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-bottom: 71px;
        }
    }

    &__courses-wrapper {
        gap: 57px;
        padding-left: 130px;

        @media screen and (max-width: 991px) {
            gap: 92px;
        }

        @media screen and (max-width: 768px) {
            padding-left: 0;
        }
    }

    &__courses-item {
        display: grid;
        grid-template-columns: 1fr 610px;
        position: relative;
        border: 1px solid var(--color-type-primary-white);
        min-height: 193px;
        padding: 25px;
        max-width: 1146px;
        width: 100%;

        @media screen and (max-width: 1470px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr;
            padding: 74px 32px 43px;
        }
    }

    &__courses-logo {
        position: absolute;
        left: 1%;
        top: 60%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 991px) {
            max-width: 250px;
            left: auto;
            right: 20%;
            top: 0;
            transform: translate(50%, -50%);
        }

        @media screen and (max-width: 670px) {
            max-width: 153px;
        }
    }

    &__courses-title {
        padding: 7px 54px 7px 127px;
        margin-bottom: 0;

        @media screen and (max-width: 991px) {
            padding: 0 15px 15px 0;
        }
    }

    &__courses-info {
        padding: 7px 53px;
        border-left: 1px solid var(--color-type-primary-white);

        @media screen and (max-width: 991px) {
            border-left: 1px solid transparent;
            border-top: 1px solid rgba(#fff, 0.5);
            padding: 20px 20px 0 0;
        }
    }
}
