.hero-banner {
    position: relative;
    min-height: 762px;
    background-repeat: no-repeat;
    background-color: #202020;

    @media screen and (max-width: 1200px) {
        min-height: auto;
    }

    &__gradient-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(90deg, #202020 40%, transparent 100%);

        @media screen and (max-width: 670px) {
            background: linear-gradient(180deg, #202020 40%, transparent 100%);
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 20%;
            top: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(180deg, #202020, transparent 100%);

            @media screen and (max-width: 670px) {
                display: none;
            }
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 20%;
            bottom: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(0deg, #202020, transparent 100%);

            @media screen and (max-width: 670px) {
                display: none;
            }
        }
    }

    &__img-bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        @media screen and (max-width: 670px) {
            top: auto;
            bottom: 0;
            height: 70%;
        }
    }

    &__container {
        position: relative;
        z-index: 3;
    }

    &__content {
        max-width: 1000px;
        position: relative;
        padding-top: 244px;
        padding-bottom: 80px;

        @media screen and (max-width: 670px) {
            padding-top: 214px;
            padding-bottom: 577px;
        }
    }

    &__title {
        margin-bottom: 27px;

        @media screen and (max-width: 768px) {
            margin-bottom: 19px;
        }
    }

    &__filled-subtitle {
        margin-bottom: 53px;
    }

    &__subtitle {
        margin-bottom: 58px;
        max-width: 720px;

        @media screen and (max-width: 991px) {
            margin-bottom: 47px;
        }

        p {
            color: inherit;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        gap: 24px;
    }

    &__list-item {
        gap: 30px;

        @media screen and (max-width: 670px) {
            gap: 10px;
        }

        p {
            color: var(--color-type-primary-white);
        }

        svg {
            @media screen and (max-width: 670px) {
                width: 42px;
                height: 42px;
            }
        }
    }
}

.service-hero {
    &.hero-banner {
        min-height: 716px;

        @media screen and (max-width: 1200px) {
            min-height: auto;
        }

        .hero-banner__subtitle {
            margin-bottom: 25px;

            p {
                margin-bottom: 9px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

}

.thank-you-page {
    &.hero-banner {
        height: 100%;

        .hero-banner__title {
            @media screen and (max-width: 768px) {
                margin-bottom: 11px;
            }
        }

        .hero-banner__subtitle {
            margin-bottom: 91px;

            @media screen and (max-width: 670px) {
                margin-bottom: 44px;
            }
        }
    }

}

.single-courses {
    .hero-banner__title {
        margin-bottom: 35px;

        @media screen and (max-width: 768px) {
            margin-bottom: 19px;
        }
    }
}
