.hero-banner {
    position: relative;
    min-height: 762px;
    background-repeat: no-repeat;

    @media screen and (max-width: 1440px) {
        min-height: 650px;
    }

    @media screen and (max-width: 1200px) {
        min-height: auto;
    }

    @media screen and (max-width: 670px) {
        background-color: #202020;
    }

    &__gradient-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-image: url('../../images/3d-rendering-min.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100% 100%;

        @media screen and (max-width: 1440px) {
            background-size: 87% 100%;
        }

        @media screen and (max-width: 1024px) {
            background-size: 70% 100%;
        }

        @media screen and (max-width: 670px) {
            background: none;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 170px;
        background-image: url('../../images/Mask.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100% auto;
        z-index: 1;
    }

    &__img-bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        @media screen and (max-width: 670px) {
            top: auto;
            bottom: 0;
            position: static;
            display: none;
        }

        &.mob {
            display: none;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: linear-gradient(180deg, #25292C 0%, rgba(37, 41, 44, 0.00) 50%);
            }

            @media screen and (max-width: 670px) {
                display: block;
            }
        }
    }

    &__container {
        position: relative;
        z-index: 3;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 1000px;
        position: relative;
        padding-top: 244px;
        padding-bottom: 80px;

        @media screen and (max-width: 670px) {
            padding-top: 214px;
            padding-bottom: 55px;
        }
    }

    &__title {
        margin-bottom: 27px;

        @media screen and (max-width: 768px) {
            margin-bottom: 19px;
        }
    }

    &__filled-subtitle {
        margin-bottom: 53px;
    }

    &__subtitle {
        margin-bottom: 58px;
        max-width: 720px;

        @media screen and (max-width: 991px) {
            margin-bottom: 47px;
        }

        p {
            color: inherit;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        gap: 24px;
    }

    &__list-item {
        gap: 30px;

        @media screen and (max-width: 670px) {
            gap: 10px;
        }

        p {
            color: var(--color-type-primary-white);
        }

        svg {
            @media screen and (max-width: 670px) {
                width: 42px;
                height: 42px;
            }
        }
    }
}

.service-hero {
    &.hero-banner {
        min-height: 716px;

        @media screen and (max-width: 1200px) {
            min-height: auto;
        }

        .hero-banner__subtitle {
            margin-bottom: 25px;

            p {
                margin-bottom: 9px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

}

.thank-you-page {
    &.hero-banner {
        height: 100%;

        .hero-banner__title {
            @media screen and (max-width: 768px) {
                margin-bottom: 11px;
            }
        }

        .hero-banner__subtitle {
            margin-bottom: 91px;

            @media screen and (max-width: 670px) {
                margin-bottom: 44px;
            }
        }
    }

}

.single-courses {
    .hero-banner__title {
        margin-bottom: 35px;

        @media screen and (max-width: 768px) {
            margin-bottom: 19px;
        }
    }
}
