.who-benefits {
    background-repeat: no-repeat;
    background-position: 17% bottom;
    background-size: contain;
    padding: 90px 0 133px;
    background-color: var(--color-type-primary-white-2);

    @media screen and (max-width: 991px) {
        padding: 67px 0 212px;
        background-position: center bottom;
        background-size: 60%;
    }

    &__container {
        position: relative;
    }

    &__bg {
        position: absolute;
        bottom: -133px;
        left: -280px;
        z-index: 1;

        @media screen and (max-width: 991px) {
            bottom: -212px;
            left: 50%;
            transform: translateX(-50%);
            width: 230px;
        }
    }

    &__title {
        color: var(--color-type-dark-1);
        margin-bottom: 20px;
    }

    &__content {
        position: relative;
        z-index: 2;
        max-width: 1094px;
        width: 100%;
        margin-left: auto;
    }

    &__subtitle {
        color: var(--color-type-dark-1);
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
            margin-bottom: 23px;
        }

        * {
            color: var(--color-type-dark-1);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 27px;
        max-width: 990px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;

        @media screen and (max-width: 768px) {
            align-items: flex-start;
        }

        @media screen and (max-width: 670px) {
            gap: 10px;
        }

        svg {
            flex-shrink: 0;

            @media screen and (max-width: 670px) {
                width: 42px;
                height: 42px;
            }
        }

        p {
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

            @media screen and (max-width: 670px) {
                font-size: 15px;
            }
        }
    }
}
